<div style="margin-top:30px;" class="col-sm-12">
    <div class="row">
        <div class="form-group col-sm-3">
            <!-- <label> Select Project </label>
            <select class="form-control" id="name" [(ngModel)]="project.name" (change)="getOption('project')">
                <option> Select Project </option>
                <option *ngFor="let project of projects"> {{project.project}} </option>
            </select> -->
            <mat-form-field appearance="outline">
                <mat-label> Select Project </mat-label>
                <mat-select [(ngModel)]="project.name" (selectionChange)="getOption('project')">
                    <mat-option *ngFor="let project of projects" [value]="project.project">
                        {{project.project}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group col-sm-3">
            <!-- <label> Select Starting Date </label> -->
            <!-- <select class="form-control" id="sdate" [(ngModel)]="date.startingDate" (change)="getOption('sdate')">
                <option> Select Date </option>
                <option *ngFor="let date of dates" [value]="date"> {{date}} </option>
            </select> -->
            <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="navigateEvent($event)" name = "date1"></ngb-datepicker>
             -->
            <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker" [placement]="placement" [positionTarget]="buttonEl">
            <div class="input-group-append">
                <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                    type="button"></button>
            </div> -->
            <!-- <input type="text" placeholder="Slect Starting Date" class="form-control date-picker" bsDatepicker
                [(ngModel)]="model" (ngModelChange)="applyLocale(model, 'date1')"> -->
            <mat-form-field appearance="outline">
                <mat-label>Select Start Date </mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="model" (dateChange)="applyLocale(model, 'date1')">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <div class="form-group col-sm-3">
            <!-- <label> Select Ending Date </label> -->
            <!-- <select class="form-control" id="edate" [(ngModel)]="date.endingDate" (change)="getOption('edate')">
                <option> Select Date </option>
                <option *ngFor="let date of endValues" [value]="date"> {{date}} </option>
            </select> -->
            <!-- <input type="text" placeholder="Select Ending Date" class="form-control date-picker" bsDatepicker
                [(ngModel)]="model2" (ngModelChange)="applyLocale(model2, 'date2')"> -->
            <mat-form-field appearance="outline">
                <mat-label> Select End Date </mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="model2"
                    (dateChange)="applyLocale(model2, 'date2')">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- <div class="form-group col-sm-3">
            <label> Select Month </label> -->

        <!-- <select class="form-control" id="month" [(ngModel)]="date.month" (change)="getOption('mon')">
                <option> Select Month </option>
                <option *ngFor="let month of months" [value]="month"> {{month}} </option>
            </select> -->
        <!-- </div> -->
        <!-- <div class="form-group col-sm-3">
            <label> Select Year </label>

            <select class="form-control" id="year" [(ngModel)]="date.year" (change)="getOption('year')">
                <option> Select Year </option>
                <option [value]="year"> {{year}} </option>
                <option [value]="year + 1"> {{year + 1}} </option>
            </select>
        </div> -->


        <!-- <div class="form-group col-sm-3">
            <label> Select Month </label>

            <select class="form-control" id="sel1" [(ngModel)] = "date.endingMonth">
                <option> Select Month </option>
                <option *ngFor="let month of months"> {{month}} </option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label> Select Year </label>

            <select class="form-control" id="sel1" [(ngModel)] = "date.endingYear">
                <option> Select Year </option>
                <option> {{year}} </option>
                <option> {{year + 1}} </option>
            </select>
        </div> -->

    </div>

    <div>
        <table *ngIf="show">
            <thead>
                <tr class="headings">
                    <th> Project Name </th>
                    <th [attr.colspan]="dayOfDays.length" style="text-align: center;"> Days </th>
                </tr>
                <tr>
                    <td rowspan="2"> {{project.name}} </td>
                    <td *ngFor="let day of dayOfDays" style="text-align: center;"> {{day}} </td>
                </tr>
                <tr>
                    <td *ngFor="let day of dayOfDays">
                        <select class="form-control" id="year">
                            <option> Select Time </option>
                            <option *ngFor="let slots of timeSlots"> {{slots}} </option>
                            <option [value]="year + 1"> {{year + 1}} </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Total Working Hours </td>
                    <td *ngFor="let day of dayOfDays">
                        <input type="text" value="0.0" class="text">
                    </td>
                </tr>
                <tr>
                    <td style="background-color: khaki;"> Employee Comments </td>
                    <td *ngFor="let day of dayOfDays">
                        <input type="text" class="text">
                    </td>
                </tr>
                <tr>
                    <td style="background-color: khaki;"> Line Manager Comments </td>
                    <td *ngFor="let day of dayOfDays">
                        <input type="text" class="text">
                    </td>
                </tr>
                <tr>
                    <td style="background-color: khaki;"> Status </td>
                    <td *ngFor="let day of dayOfDays">
                        <select class="form-control" id="year">
                            <option> Select Status </option>
                            <option *ngFor="let status of status"> {{status}} </option>
                        </select>
                    </td>
                </tr>
            </thead>
        </table>
    </div>

    <div style="margin-top:40px;">
        <table *ngIf="show">
            <caption style="text-align: center;caption-side: top;"> Employee Daily Basis </caption>
            <tr class="headings">
                <th> Date </th>
                <th> Project </th>
                <th> Task <i class="fa fa-plus-circle" data-toggle="modal" data-target="#myModal1"></i> </th>
                <th> Description </th>
                <th> Hours </th>
                <th> Status </th>
                <th> Any Obstacles? </th>
            </tr>
            <tr *ngFor="let day of dayOfDays">
                <td> {{day}} </td>
                <td> {{project.name}} </td>
                <td>
                    <div *ngIf = "date.day === day" style="display: grid;">
                        <textarea *ngFor="let textfield of textfields"></textarea>
                    </div>
                </td>
                <td> <input type="text" class="text"></td>
                <td> <input type="text" class="text"></td>
                <td>
                    <select class="form-control" id="year">
                        <option> Select Status </option>
                        <option *ngFor="let status of dailyStatus"> {{status}} </option>
                    </select>
                </td>
                <td> <input type="text" class="text"> </td>
            </tr>
        </table>
    </div>
</div>

<!-- Reset password Dailog -->

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Date </h4>
            </div>
            <div class="modal-body">
                <button class="btn date-btn" *ngFor="let day of dayOfDays let i = index" (click)="selectDate(day, i)" id="colse{{i}}"> {{day}} </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>