.container-div {
    margin-left: 60px;
    margin-top: 25px;
}
table, th, td {
    border: 1px solid black;
}
input {
    width: 100%;
}
table {
    width: 100%;
}
.text {
    height: 40px;
    border: none;
}
.headings th{
    background-color: antiquewhite;
    padding: 10px;
}
.form-control{
    font-size: 16px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}
.date-picker {
    border:1px solid lightgray;
}
textarea {
    width: 100%;
}
.fa-plus-circle {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

.modal-header {
    display: inline;
    text-align: center;
}
.modal-title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.modal-body {
    padding: 30px;
}
.modal-footer {
    padding: 30px;
}
.form-control{
    height: 40px;
}
.date-btn{
    border: 1px solid #ccc;
    background: #d0cbcb61;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}