<app-header></app-header>
<div class="container-fluid rm-pad">
<div class="col-sm-2">
  <app-sidebar></app-sidebar>
</div>

<div style="margin-top: 104px;" class="col-sm-10 rm-pad">
  <router-outlet></router-outlet>
</div>
</div>