<div class="requestReset-page">
    <h2 >Forgot Password</h2>
    <!-- <div id="errorMsg" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
    </div>
    <div id="successMsg" *ngIf="successMessage">
        <span>{{successMessage}}</span>
    </div> -->
    <div class="form">
      <form class="requestReset-form" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
  
        <input type="text" placeholder="email"  formControlName="email"/>
        <span *ngIf="!RequestResetForm.get('email').valid && RequestResetForm.get('email').touched" class="help-block">Please enter email..!</span>
       
        <button type="submit" >Reset Password</button> 
      </form>
      <p class="par" *ngIf="!isValid">Please enter valid email..!</p>
    </div>
   
  </div>
