
.navbar {
    border-radius: 4px;
}
.navbar-header {
    float: left;
    width: 92%;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom:0px;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px #ddd;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 50px;
}
.navbar-right {
    float: right !important;
    margin-right: 0px;
}
.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 15px;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 18px;
}
.user-icon{
    font-size: 18px;
}
.navbar-fixed-top {
    /* position: sticky;
    top: 0; */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-logo{
    height: 65px;
}
.bg-heading{
    padding: 25px 15px;
}
.bg-text{
    font-size: 2em;
    font-weight: 500;
}
.navbar-default .navbar-nav > li > a{
    color: #000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #fff;
}
.dropdown-item{
    font-size: 16px;
}

/* Model Styles */
.modal-header {
    display: inline;
    text-align: center;
}
.modal-title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.modal-body {
    padding: 30px;
}
.modal-footer {
    padding: 30px;
}
.form-control{
    height: 40px;
}
.btn{
    padding: 8px 12px;
    font-size: 16px;
}
label{
    font-size: 16px;
}
.modal-header .close {
    font-size: 25px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #000;
    background-color: #fff;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
.search-bar {
    border-radius: 24px;
    width: 500px;
    padding-left: 30px;

}
.serach-container {
    position: relative;
    margin-top: 18px;
}
.search {
    position: absolute;
    top: 13px;
    left: 12px !important;
}
.icons {
    width: 130px;
    text-align: center;
    padding: 0;
    height: 10px;
}
.icons1 {
    width: 95px;
    text-align: center;
    padding: 0;
    height: 10px;
}
.icons2 {
    text-align: center;
    padding: 0;
    height: 10px;
}
.icon {
    font-size: 20px;
}
.icon-container {
    position: relative;
}
.notify {
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    top: -6px;
    right: 20px;
    color: white;
    text-align: center;
    font-size: 10px;
}
.notify2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    top: -6px;
    right: 40px;
    color: white;
    text-align: center;
    font-size: 10px;
}