<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="#"><img class="bg-logo" src="assets/Images/BG-logo.png"></a>
  <div class="bg-heading"><strong class="bg-text">Blockgemini Time Tracker</strong></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="form-group serach-container">
    <input type="text" placeholder="Search...." class="form-control search-bar">
    <i class="fa fa-search search"></i>
  </div>

  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right mr-auto">
      <div class="row" style="margin-top:20px">
        <div class="col-sm-4 icon-container">
          <p class="icons"><i class="fa fa-envelope icon"></i></p>
          <p class="icons"><a href="#"> Live Messages </a></p>
          <div class="notify"> 2 </div>
        </div>
        <div class="col-sm-4">
          <p class="icons1"><i class="fa fa-bell icon"></i></p>
          <p class="icons1"><a href="#"> Notifications </a></p>
          <div class="notify2"> 2 </div>
        </div>
        <div class="col-sm-2">
          <p class="icons2"><i class="fa fa-share icon"></i></p>
          <p class="icons2"><a href = "#"> Share </a></p>
        </div>
      </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user user-icon"></span> Anand
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">Change password</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutmodel">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Reset password Dailog -->

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Change Password </h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && changePassword()" novalidate>
          <div class="form-group" [class.has-error]="currentpwd.invalid && currentpwd.touched">
            <label for="usr" class="control-label"> Current Password </label>
            <input type="text" class="form-control" name="currentpwd" [(ngModel)]="changepwd.currentPassword"
              #currentpwd="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && currentpwd.invalid }">
            <div *ngIf="f.submitted && currentpwd.invalid || currentpwd.invalid && currentpwd.touched"
              class="help-block">
              <span class="help-block" *ngIf="currentpwd.errors.required" style="color:red"> Current Password is
                Required
              </span>
            </div>
          </div>
          <div class="form-group" [class.has-error]="newpwd.invalid && newpwd.touched">
            <label for="usr" class="control-label"> New Password </label>
            <input type="text" class="form-control" name="newpwd" [(ngModel)]="changepwd.newPassword" #newpwd="ngModel"
              required [ngClass]="{ 'is-invalid': f.submitted && newpwd.invalid }">

            <div *ngIf="f.submitted && newpwd.invalid || newpwd.invalid && newpwd.touched" class="help-block">
              <span class="help-block" *ngIf="newpwd.errors.required" style="color:red"> New Password is Required
              </span>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" type="submit" id="close"> Change Password </button>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!-- Logout Dailog -->

<div class="modal fade" id="logoutmodel" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" #closelogout data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Log Out </h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center;"> Are you Sure. Do you want to Logout? </p>
        <div style="display: flex;justify-content: center;">
          <div style="margin:10px;">
            <button class="btn btn-primary" style="margin: 5px;" (click) = "logout()"> Yes </button>
            <button class="btn btn-warning" style="margin: 5px;" data-dismiss="modal"> No </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>