<!-- <div class="row" *ngIf="CurrentState=='Wait'">
    <div class="col-md-12  close-form">
        <h2> Please Wait...</h2>
    </div>
</div>
 <div class="row"
    *ngIf="CurrentState=='NotVerified'">
    <div class="col-md-12">
        <h2> Invalid URL.</h2>
    </div>
</div> -->
<div class="responseReset-page" >
    <h2 >Set New Password</h2>
    <div id="errorMsg" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
    </div>
    <div id="successMsg" *ngIf="successMessage">
        <span>{{successMessage}}</span>
    </div>
    <div class="form">
      <form class="responseReset-form" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
  
        <input type="password" placeholder="password" id="password" formControlName="password"/>
        <span *ngIf="!ResponseResetForm.get('password').valid && !IsResetFormValid" class="help-block">Password is required with atleast 4 characters.</span>
       
        <input type="password" placeholder="Confirm Password" id="cpassword" formControlName="confirmPassword"/>
        <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid" class="help-block">. </span>
        <span *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('password').value) && !IsResetFormValid"
            class="help-block">Confirm Password does not match with password.</span>

        <button type="submit" >Update Password</button> 
      </form>
    </div>
   
  </div>
