
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #3fabb9;
    text-decoration: none;
  }
  .par{
      color: red;
  }
  h2{
    margin: auto;
    width: 100%;     
    padding: 10px;
    text-align: center;
  }

  .help-block{
    color: #cc0033;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
   
  }
  .container1{
   
    float: left;

  }
  .button2{
    background-color: #3fabb9; /* Green */
    
    border: 4px;
    color: white;
   float: left;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
  }

  .rm-pad{
    padding-right: 0px;
    padding-left: 0px;
}
  /* formcontrol and button css modified */
  .dropdown-item.active, .dropdown-item:active {
    color: #000;
    background-color: #fff;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
  .form-control{
    height: 40px;
    padding: 2px 10px;
    font-size: 16px;
  }
  .top-spance{
    margin-top:20px;
    margin-bottom: 20px;
  }
  .btn{
    padding: 6px 10px;
    font-size: 16px;
    line-height: 1.56;
  }

  /* Model Styles */
.modal-header {
  display: inline;
  text-align: center;
}
.modal-title {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.modal-body {
  padding: 30px;
}
.modal-footer {
  padding: 15px;
}
.form-control{
  height: 40px;
}
.btn{
  padding: 8px 12px;
  font-size: 16px;
}
label{
  font-size: 16px;
}
.modal-header .close {
  font-size: 25px;
}
.inp{
  font-family: "Roboto", sans-serif;
    outline: 0;
   /*  background: #f2f2f2; */
    width: 100%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

/* .mat-form-field {
  display: flow-root;
  position: relative;
  text-align: left;
} */