<div class="container top-spance">
  <div class="col-sm-12 rm-pad">
    <!-- <div class="col-sm-6 rm-pad">
      <div class="form-group">
        <input type="email" class="form-control" id="userLists"  placeholder="search by name" [(ngModel)]="serachUsers">
      </div>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Search Users</button>
    </div> -->
    <div class="col-sm-2 rm-pad">
      <button type="submit" class="btn btn-primary" (click)="getActiveUsers(true)">Active Users</button>
    </div>
    <div class="col-sm-2 rm-pad">
      <button type="submit" class="btn btn-primary" (click)="getActiveUsers(false)">InActive Users</button>
    </div>
    <div class="col-sm-2 rm-pad">
      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#CreateuserModal">Create New User</button>
    </div>
  </div>

</div>
<div *ngIf="loggedIn">
  <div class="container" *ngIf="isActive">    
    <table class="table table-striped table-bordered">    
        <thead>    
            <tr>    
                <th>User Name</th>    
                <th>Email</th> 
                <th>Update</th>  
                <th>Delete</th>        
            </tr>    
        </thead>    
        <tbody>    
             <tr *ngFor="let user of users; let i = index; " >    
              <!-- <td (click)="deleteRow(i)">    
                <i class="fa fa-trash fa-2x"></i>    
              </td>     -->
                <td *ngIf="users[i].active===true">  
                  <input  type="text" class="inp" name="userName"[(ngModel)]="users[i].userName"/>      
                </td>    
                <td *ngIf="users[i].active===true">    
                  <input  type="text" class="inp" name="email"[(ngModel)]="users[i].email"/>
                </td>    
                <td *ngIf="users[i].active===true" (click)="updateUser(i)">    
                  <i class="fa fa-edit fa-2x"></i>    
                </td>   
                <td *ngIf="users[i].active===true" (click)="deactivateUser(i)">    
                  <i class="fa fa-trash fa-2x"></i>    
                </td>      
            </tr>    
             
        </tbody>    
    </table>    
  </div>
  <div class="container" *ngIf="!isActive">    
      <table class="table table-striped table-bordered">    
          <thead>    
              <tr>    
                  <th>User Name</th>    
                  <th>Email</th>  
                  <th>Activate User</th>     
              </tr>    
          </thead>    
          <tbody>    
               <tr *ngFor="let user of users; let i = index; " >    
                <!-- <td (click)="deleteRow(i)">    
                  <i class="fa fa-trash fa-2x"></i>    
                </td>     -->
                  <td *ngIf="users[i].active===false">  
                    <input type="text" class="inp" name="userName"[(ngModel)]="users[i].userName" readonly/>      
                  </td>    
                  <td *ngIf="users[i].active===false">    
                    <input  type="text" class="inp" name="email"[(ngModel)]="users[i].email" readonly/>
                  </td>    
                   <td *ngIf="users[i].active===false" (click)="activateUser(i)">    
                    <i class="fa fa-plus-square fa-2x"></i>    
                  </td>   
                 <!-- <td (click)="deactivateUser(i)">    
                    <i class="fa fa-trash fa-2x"></i>    
                  </td>       -->
              </tr>    
               
          </tbody>    
      </table>    
    </div>   
   </div>

   <div class="modal fade" id="CreateuserModal" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" #closebutton data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Create New User </h4>
        </div>
        <div class="modal-body">
          <form class="user-form" [formGroup]="userForm" (ngSubmit)="addUser(userForm.value)">
            <div class="form-group">
              <!-- <mat-form-field appearance="outline">
                <mat-label> User Name </mat-label>
                <input matInput type="text" placeholder="User Name"  MatFormFieldControl="userName"/>
              <span *ngIf="!userForm.get('userName').valid && userForm.get('userName').touched" class="help-block">Please enter User Name..!</span>
              </mat-form-field> -->
               <label for="usr"> User Name </label>
              <input class="form-control" type="text" placeholder="User Name"  formControlName="userName"/>
              <span *ngIf="!userForm.get('userName').valid && userForm.get('userName').touched" class="help-block">Please enter User Name..!</span>
            </div>

            <div class="form-group">
              <label for="email"> Email ID </label>
              <input class="form-control" type="text" placeholder="email"  formControlName="email"/>
            <span *ngIf="!userForm.get('email').valid && userForm.get('email').touched" class="help-block">Please enter email..!</span>
            </div>
            <div class="form-group">
              <label for="password">Password </label>
              <input class="form-control" type="password" placeholder="password" formControlName="password"/>
              <span *ngIf="!userForm.get('password').valid && userForm.get('password').touched" class="help-block">Please enter valid password..!</span>
            </div>

            <div> 
              <button class="btn btn-primary" type="submit">Save User</button>  
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <!-- <p class="message">New joiner?  Get access from <strong>Admin</strong></p> -->
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>