<div>
  <form [formGroup]="userInfo">
    <div style="position: relative;">
      <img class="cover_img" src="./assets/Images/profile_cover_bg.png" alt="">
      <img style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);height: 120px;" class=""
        src="./assets/Images/bg.png" alt="">
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="name_img">
            <div>
              <img class="img-circle profile_img" src="./assets/Images/profile_img.png" alt="No Image">
            </div>
            <div class="nameCon editTag">
              <input class="name" type="text" formControlName = "userName">

              <div class="float_btns">
                <div (click)="updateUserInfo()">
                  <span class="glyphicon glyphicon-ok icon" aria-hidden="true"></span>
                </div>
                <div (click)="reject()">
                  <span class="glyphicon glyphicon-remove icon" aria-hidden="true"></span>
                </div>
              </div>
              <!-- <span class="name">{{userInfo.userName}}</span> -->
            </div>
          </div>

          <div class="card_shadow">
            <div>
              About
              <ul class="about">
                <li><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>Frontend Developer</li>
                <li><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Software Development</li>
                <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Blockgemini</li>
                <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Bengaluru,India</li>
              </ul>
            </div>

            <div style="margin-bottom: 10px;">
              CONTACT

              <div class="about editTag">
                <div class="contact">
                  <div class="glyphicon glyphicon-comment" aria-hidden="true"></div>
                  <div style="margin-left: 12px;width: 85%;">
                    <input type="text" formControlName = "email">
                  </div>
                </div>

                <div class="float_btns">
                  <div style="padding: 5px 13px;" (click)="updateUserInfo()">
                    <span class="glyphicon glyphicon-ok icon" aria-hidden="true"></span>
                  </div>
                  <div style="padding: 5px 13px;" (click)="reject()">
                    <span class="glyphicon glyphicon-remove icon" aria-hidden="true"></span>
                  </div>
                </div>
              </div>

              <!-- <ul class="about">
                <li>
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                  <input type="text" formControlName = "email">

                  <div class="float_btns">
                    <div>
                      <span class="glyphicon glyphicon-ok icon" aria-hidden="true"></span>
                    </div>
                    <div>
                      <span class="glyphicon glyphicon-remove icon" aria-hidden="true"></span>
                    </div>
                  </div>
                </li>
              </ul> -->
            </div>

            <div>
              TEAMS
              <ul class="about">
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Timesheet</li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-8 aside">

          <div class="worked_on">
            <h4>Skills</h4>
            <div class="card_shadow">
              <div class="skills">
                <div class="chip">
                  Javascript
                </div>
                <div class="chip">
                  Typescript
                </div>
                <div class="chip">
                  HTML
                </div>
                <div class="chip">
                  CSS
                </div>
                <div class="chip">
                  Angular
                </div>
                <div class="chip">
                  NodeJS
                </div>
              </div>

            </div>
          </div>


          <div class="worked_on">
            <h4>Worked on</h4>
            <div class="card_shadow">

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-5 Login page</div>
                  <div class="project_name">Project name</div>
                </div>
              </div>

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-8 Dashboard</div>
                  <div class="project_name">Project name</div>
                </div>
              </div>

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-7 User profile</div>
                  <div class="project_name">Project name</div>
                </div>
              </div>

            </div>
          </div>

          <div class="works_with">
            <h4>Works with</h4>
            <div class="brown_bg">

              <div class="people">
                <div class="card_on">
                  <img style="width: 72px;height: 72px;" class="img-circle" src="./assets/Images/works_with.png" alt="">
                  <div class="people_name">Nithesh Siddapura</div>
                  <div class="role">Team Lead</div>
                </div>

                <div class="card_on">
                  <img style="width: 72px;height: 72px;" class="img-circle" src="./assets/Images/works_with.png" alt="">
                  <div class="people_name" class="people_name">Nithesh Siddapura</div>
                  <div class="role">Team Lead</div>
                </div>

                <div class="card_on">
                  <img style="width: 72px;height: 72px;" class="img-circle" src="./assets/Images/works_with.png" alt="">
                  <div class="people_name">Nithesh Siddapura</div>
                  <div class="role">Team Lead</div>
                </div>

                <div class="card_on">
                  <img style="width: 72px;height: 72px;" class="img-circle" src="./assets/Images/works_with.png" alt="">
                  <div class="people_name">Nithesh Siddapura</div>
                  <div class="role">Team Lead</div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </form>
</div>