* li {
    list-style: none;
}

input {
    padding: 6px;
    width: 100%;
    border: none;
    outline: none;
    /* transition: outline 0.2s; */
    border-radius: 2px;
}

input:hover {
    background: #f5f6f8;
}

input:focus {
    outline: 2px solid #1761cebf !important;
}

.cover_img {
    width: 100%;
    height: 168px;
}


.float_btns {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    visibility: hidden;
}

.editTag:focus-within .float_btns {
    visibility: visible;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;;
}

.float_btns > div {
    padding: 7px 12px;
    margin: 1px 2px;
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    /* border: 1px solid red; */
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.float_btns > div:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 4px 7px 0px;
}

.icon {
    color: rgb(80, 95, 121);
    font-size: 12px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    /* margin: 8px; */
    justify-content: center;
    align-items: center;
}

.aside > div {
    margin-bottom: 36px;
}

.profile_img {
    width: 134px;
    height: 134px;
    border: 2px solid white;
}

.name_img {
    position: relative;
    top: -90px;
}

.nameCon {
    margin-top: 12px;
}

.name {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    width: 100%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills > div {
    margin: 0 6px;
}

.chip {
    border: 1px solid rgb(223, 220, 215);
    padding: 8px 12px;
    border-radius: 12px;
}

.about {
    position: relative;
    padding: 12px;
}

.about li {
    margin: 8px;
}

.about li span{
    margin-right: 12px;
}

.card_shadow {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: 3px;
    padding: 16px 6px;
    font-size: 18px;
}

.task {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.task:hover {
    background: #f9fafb8a;
}

.task > div {
    margin: 2px 8px;
}

.task img {
    width: 20px;
    height: 20px;
}

.project_name {
    font-size: 11px;
    line-height: 14px;
    color: rgb(137, 147, 164);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brown_bg {
    background: #f4f5f7;
}

.card_on {
    text-align: center;
    color: rgb(23, 43, 77);
    height: 180px;
   /*  min-width: 140px; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    background: white;
    cursor: pointer;
    padding: 12px;
}

.people {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
    margin: 0;
    padding: 12px;
}

.people_name {
    margin-top: 12px;
}

.role {
    color: rgb(107, 119, 140);
}




.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-17 18:11:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  


  /* .editTag:hover .float_btns
{
    display: block;
    animation: fadeInFromNone 1s ease-out;
}


@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
} */