<div class="sidebar">
    <!-- <a routerLink="dashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a> -->
  <a routerLink='profile' routerLinkActive="profile" [routerLinkActiveOptions]="{exact:
    true}"><i class="fa fa-user fa-1x"></i> Profile</a>
  <a routerLink='timesheet' routerLinkActive="timesheet" [routerLinkActiveOptions]="{exact:
    true}"><i class="fa fa-asterisk fa-1x"></i> Projects</a>
  <a routerLink="charts" routerLinkActive="charts" [routerLinkActiveOptions]="{exact:
    true}"><i class="fa fa-line-chart fa-1x"></i> Data chart</a>
    <a routerLink="user" routerLinkActive="user" [routerLinkActiveOptions]="{exact:
      true}"><i class="glyphicon glyphicon-user user-icon fa-1x"></i> Users List</a>
</div>