.sidebar {
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 87px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 10px 10px #ddd;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 6px 8px 80px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
  }
  
  .sidebar a:hover {
    color: #5c5cea;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    /* .sidebar a {font-size: 18px;} */
  }
  
.profile{color: #fff!important;
  background: #6d89ea;}
.timesheet{color: #fff!important;
  background: #6d89ea;}
.charts{color: #fff!important;
  background: #6d89ea;}
  .user{color: #fff!important;
    background: #6d89ea;}