.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #ffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #6d89ea;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #8499e6;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #6d89ea;
    text-decoration: none;
  }
  .par{
      color: red;
  }
  h2{
    margin: auto;
    width: 100%;     
    padding: 10px;
    text-align: center;
  }

  .help-block{
    color: #cc0033;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
   
  }

  .forgotpwd{
    float: right;
    text-decoration: underline;
    color: blue;
    font-size: 14px;
}