<div class="container">
    <div class="login-page">
        <h2 >Welcome to Timesheet Tracker</h2>
        <div class="form">
          
          <form class="login-form" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
      
            <input type="text" placeholder="email"  formControlName="email"/>
            <span *ngIf="!profileForm.get('email').valid && profileForm.get('email').touched" class="help-block">Please enter email..!</span>
            <input type="password" placeholder="password" formControlName="password"/>
            <span *ngIf="!profileForm.get('password').valid && profileForm.get('password').touched" class="help-block">Please enter valid password..!</span>
            <button type="submit" >login</button>
            <p class="message">New joiner?  Get access from <strong>Admin</strong></p>  
          </form>
            <a routerLink='/requestReset' class="forgotpwd">Forgot Password</a>
          <p class="par" *ngIf="!isValid">Please enter valid email and password..!</p>
        </div>
       
      </div>
</div>