.card_shadow {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: 3px;
    padding: 16px 6px;
    font-size: 18px;
}

.task {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.task:hover {
    background: #f9fafb8a;
}

.task > div {
    margin: 2px 8px;
}

.task img {
    width: 20px;
    height: 20px;
}

.project_name {
    font-size: 11px;
    line-height: 14px;
    color: rgb(137, 147, 164);
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-control{
    font-size: 16px;
}
.rm-pad{
    padding-right: 0px;
    padding-left: 0px;
}