<div class="co-sm-12">
    <div class="col-sm-6">
        <highcharts-chart
    [Highcharts] = "highcharts1" 
    [options] = "chartOptions1" 
    style = "width: 100%; height: 400px; display: block;margin-top:10px;">
    </highcharts-chart>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 rm-pad">
            <div class="form-group col-sm-6 rm-pad">
                <label for="website">Projects:</label>
                <select class="form-control">
                    <option disabled>Select project</option>
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                </select>
            </div>
        </div>
        <div class="worked_on">
            <h3>Completed Stories</h3>
            <div class="card_shadow">
              
              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-5 Dashboard Story1</div>
                  <div class="project_name">BG Website</div>
                </div>
              </div>

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-8 Login Story2</div>
                  <div class="project_name">waka time</div>
                </div>
              </div>

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-7 User Story3</div>
                  <div class="project_name">Vodaphone</div>
                </div>
              </div>
            </div>
          </div>

        <div class="worked_on">
            <h3>Pending Stories</h3>
            <div class="card_shadow">
              
              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-5 Dashboard Story1</div>
                  <div class="project_name">BG Website</div>
                </div>
              </div>

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-8 Login Story2</div>
                  <div class="project_name">waka time</div>
                </div>
              </div>

              <div class="task">
                <div>
                  <img src="./assets/Images/tick.png" alt="task_image">
                </div>
                <div class="details">
                  <div>TS-7 User Story3</div>
                  <div class="project_name">Vodaphone</div>
                </div>
              </div>
            </div>
          </div>

    </div>
</div>
<!-- <div class="col-sm-12">
    <div class="col-sm-6">
        <highcharts-chart
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div> -->
